.book {
    border: solid black 10px;
    width: 200px;
    height: 250px;
    padding: 12px;

    &__fake-img{
        background-color: skyblue;
        width: 100%;
        height: 50%;
    }

    &__title {
        text-align: center;
    }
}